<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.11.4/css/alertify.css">
</head>

<body>
    <header class='main-header'>
        <div class="menu-wrap">
            <p class="site-title"><a href="/">ITG</a></p>
            <input type='checkbox' id='nav-tog'>
            <!-- Hamburger btn -->
            <label for='nav-tog' class="drop-trigger">
                <!-- Hamburg bars -->
                <span class="btn-bar top"></span>
                <span class='btn-bar middle'></span>
                <span class='btn-bar bottom'></span>
            </label>
            <nav id="mainNav" class="main-nav">
                <!-- This covers the whole background of the dropped menu -->
                <label for='nav-tog' class='nav-revert'></label>
                <!-- Menu items -->
                <a href='/' class="nav-item">
                    <span> Home </span>
                    <div class="into"></div>
                </a>
                <a href='/whyChooseUs.html' class="nav-item">
                    <span> Why Choose Us </span>
                    <div class="into"></div>
                </a>
                <a href='#services' class="nav-item">
                    <span> Our Service </span>
                    <div class="into"></div>
                </a>
                <a href='/industries.html' class="nav-item">
                    <span> Industries </span>
                    <div class="into"></div>
                </a>
                </a>
                <a href='#contacts' class="nav-item">
                    <span> Contact Us </span>
                    <div class="into"></div>
                </a>
            </nav>
        </div>
    </header>
    <section id="image"></section>
    <section id="title">
        <div class="text">
            <span class="text-title">
                IT Solutions
                <br>
                for Your Industry
            </span>
        </div>
    </section>
    <section id="info">
        <div class="summary">
            <span class="t">Agriculture</span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque quaerat et quas animi nihil vero, alias
                quos voluptatem quidem sapiente eos, laudantium fuga. Esse possimus dolor velit accusamus fuga ad.</p>
        </div>
        <div class="summary">
            <span class="t">Banking & Financial Services</span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque quaerat et quas animi nihil vero, alias
                quos voluptatem quidem sapiente eos, laudantium fuga. Esse possimus dolor velit accusamus fuga ad.</p>
        </div>
        <div class="summary">
            <span class="t">Education</span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque quaerat et quas animi nihil vero, alias
                quos voluptatem quidem sapiente eos, laudantium fuga. Esse possimus dolor velit accusamus fuga ad.</p>
        </div>
        <div class="summary">
            <span class="t">Energy & Utilities</span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque quaerat et quas animi nihil vero, alias
                quos voluptatem quidem sapiente eos, laudantium fuga. Esse possimus dolor velit accusamus fuga ad.</p>
        </div>
        <div class="summary">
            <span class="t">Government</span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque quaerat et quas animi nihil vero, alias
                quos voluptatem quidem sapiente eos, laudantium fuga. Esse possimus dolor velit accusamus fuga ad.</p>
        </div>
    </section>
    <footer id="contacts">
        <form class="container contact-form" action="https://formspree.io/test-example@abv.bg" method="POST">
            <h1>Contact Us</h1>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <address><a href="https://goo.gl/maps/Hw4tbWfpv8m7Jk5u7"><i class="fas fa-location-arrow"></i></a>
                        Address: 500 Terry Francois Street San Francisco, CA 94158</address>
                    <p><a href="tel:123-456-7890"><i class="fas fa-phone-volume"></i></a> Tel: 123-456-7890</p>
                    <p><a href="mailto:info@mysite.com"><i class="fas fa-envelope"></i></a> Email: info@mysite.com</p>
                    <p>
                        <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                        <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                    </p>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input id="name" type="text" class="form-control" name="name" required
                            pattern="^[A-Z]{1}[a-z]{4,30}\s[A-Za-z]{4,30}$">
                        <small id="nameHelp" class="form-text text-muted">Name start with upper-case and min length 6
                            letters!</small>
                    </div>

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input id="email" type="text" class="form-control" name="email" required
                            pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,5}$">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                            else!</small>
                    </div>

                    <div class="form-group">
                        <label for="message">Message</label>
                        <textarea id="message" name="message" class="form-control" rows="5" required
                            minlength="5"></textarea>
                        <small id="msgHelp" class="form-text text-muted">Message min length 5 letters and
                            symbols!</small>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary btn-block" type="submit">Send</button>
                    </div>
                </div>
            </div>
        </form>
        <button id="myBtn" title="Go to top"><i class="fas fa-angle-up"></i></button>
    </footer>
</body>

</html>